{{ define "title" }}DSMM Add To XML Fail{{ end }}

{{ define "content" }}
<div class="col-sm-12">
    <div class="alert alert-danger">
      <h1><strong>Adding DSMM Snippet to XML failed!</strong></h1>
    </div> <!-- end class="alert alert-danger"> -->

    <div class="panel panel-default">
      <div class="panel-heading">
          <h2 class="panel-title"><i class="fa fa-hand-o-right"></i> Options</h2>
      </div>
      <div class="panel-body">
          <div class="list-group">
            <a href="javascript:history.back()" class="list-group-item">
                <button class="btn btn-lg btn-info">
                  Go Back
                </button>
            </a>
              <a href="/" class="list-group-item">
                <form action="/">
                  <button type="submit" value="send" class="btn btn-lg btn-info">
                    Start Over
                  </button>
                </form>
              </a>
          </div>
          <div class="text-left">
              <a href="/">Home <i class="fa fa-arrow-circle-right"></i></a>
          </div>
      </div>
    </div> <!-- end class="panel panel-default"> -->

</div> <!-- end <div class="col-sm-12"> -->
{{ end }}
